{% from "macros.html" import render_modal1 %}

{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<main role="main" class="container mt-4">
    <h1 class="creative-text2">Search Results</h1>
    {% if grouped_details %}
    <div class="masonry-container">
        {% for upload_id,details in grouped_details.items() %}
        <div class="masonry-item card mb-3">
            <div class="card-body">
                <!-- Check if there are details for the current upload and if it has at least one item -->
                {% if details.items %}
                <img src="{{ url_for('static', filename='img/' + details['items'][0]) }}" class="card-img-top"
                    alt="Image for {{ details.title }}" data-toggle="modal" data-target="#mediaModal{{ upload_id }}">
                {% else %}
                <img src="{{ url_for('static', filename='default.jpg') }}" class="card-img-top" alt="Default image">
                {% endif %}
                <h5 class="card-title">{{ details.title }}</h5>
                <p class="creative-text">{{ details.username }}</p>

                <i class="far fa-heart like-icon-{{ upload_id }} like-button" style="color: red;"
                    data-upload-id="{{ upload_id }}"></i>
                <span class="like-count-{{ upload_id }}">{{ details.collect_count }}</span>
                <i class="far fa-comment comment-icon-{{ upload_id }} like-button" style="color: rgb(20, 86, 209);"
                    data-upload-id="{{ upload_id }}"></i>
                <span class="comment-count-{{ upload_id }}">{{ details.comment_count }}</span>
                <!-- Use the macro to render the modal -->
                {{ render_modal1(upload_id, details, comments_with_user) }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
</main>
{% endblock %}