{% block content %}
{% include 'user1.html' %}
    <!-- Navigation Tabs -->
<div class="row mt-4">
    <div class="col-12">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('user', username=user.username) }}">
                    Photos <span class="badge badge-light">{{ user.photos_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ url_for('check_collections', username=user.username) }}">
                    Collections <span class="badge badge-light">{{ user.collections_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_following', username=user.username) }}">
                    Following
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_follower', username=user.username) }}">
                    Followers
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if results %}
            {% for result in results %}
            <div class="col-md-4">
                <div class="note-card">
                    <!-- Card Content -->
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/' ~ result.Upload_detail.upload_item) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.Upload.title }}</h5>
                            <div class="card-footer">
                                <img src="{{ url_for('static', filename='img/avatar/' ~ result.Upload.user.avatar) }}" alt="{{ result.Upload.user.username }}'s avatar" class="img-fluid rounded-circle mb-2" style="width: 50px; height: 50px;">
                                <small class="text-muted">{{ user.username }}</small>
                                <small class="text-muted">Collections: {{ result.collection_count }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No notes found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}