{% block content %}
{% include 'user.html' %}
<div class="container">
    <div class="row">
        {% if results %}
            {% for result in results %}
            <div class="col-md-4">
                <div class="note-card">
                    <!-- Card Content -->
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/' ~ result.Upload_detail.upload_item) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.Upload.title }}</h5>
                            <div class="card-footer">
                                <img src="{{ url_for('static', filename='img/avatar/' ~ result.Upload.user.avatar) }}" alt="{{ result.Upload.user.username }}'s avatar" class="avatar">
                                <small class="text-muted">{{ user.username }}</small>
                                <small class="text-muted">Collections: {{ result.collection_count }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No notes found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

