{% from 'macros.html' import render_modal1%}
{% include 'user1.html' %}
{% block content %}

<!-- Navigation Tabs -->
<div class="row mt-4">
    <div class="col-12">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link " href="{{ url_for('user.user', username=user.username) }}">
                    Photos <span class="badge badge-light">{{ user.photos_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('user.check_collections', username=user.username) }}">
                    Collections <span class="badge badge-light">{{ user.collections_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.show_following', username=user.username) }}">
                    Following
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.show_follower', username=user.username) }}">
                    Followers
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if results %}
        {% for item in results %}
        <div class="col-md-4">
            <div class="card-body">
                <img class="card-img-top" src="{{ url_for('static', filename='img/' ~ item['items'][0]) }}"
                    alt="Card image cap" data-toggle="modal" data-target="#mediaModal{{ item['upload_id'] }}">

                <h5 class="card-title">{{ item['title'] }}</h5>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename='img/avatar/' ~ user.avatar) }}"
                            alt="{{ user.username }}'s avatar" class="img-fluid rounded-circle mr-2"
                            style="width: 50px; height: 50px;">
                        <small class="text-muted mr-2">{{ user.username }}</small>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="far fa-heart like-icon-{{ upload_id }} like-button"" style=" color: red; margin-right:
                            5px;" data-upload-id="{{ item.upload_id }}"></i>
                        <small class="text-muted mr-2">{{ item['collect_count'] }}</small>
                    </div>
                </div>

            </div>

        </div>
        {{ render_modal1(item['upload_id'], item, comments_with_user) }}
        {% endfor %}
        {% else %}
        <p>No photos found.</p>
        {% endif %}
    </div>
    <!-- Pagination -->
    <div class="row">
        <div class="col-12">
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}