{% from 'bootstrap5/pagination.html' import render_pagination %}
{# Not yet complete {% from 'macros.html' import user_card with context %}#}


{% block content %}
{% include 'user.html' %}
<div class="row">
  <div class="col-md-12">
    {% if following %}
        <h3>has following</h3>
{#      {% for following in following %}#}
{#        {% if following != user %}#}
{#            <h3>has following</h3>#}
{#        {{ user_card(user=following) }}#}
{#        {% endif %}#}
{#      {% endfor %}#}
    {% else %}
    <div class="tip">
      <h3>No following.</h3>
    </div>
    {% endif %}
  </div>
</div>
{% if followers|length != 1 %}
<div class="page-footer">
  {{ render_pagination(pagination) }}
</div>
{% endif %}
{% endblock %}
