
{% from 'bootstrap5/pagination.html' import render_pagination %}


{% block content %}
{% include 'user.html' %}

{% macro user_card(user) %}
<div class="row">
    <div class="col-md-12">
        {% if follower %}
            {% for person in follower %}
                <a href="{{ url_for('user.html', username=person.username) }}">
                <img src="{{ url_for('static', filename='img/avatar/' ~ person.avatar) }}" alt="{{ person.username }}'s profile picture" >
                <h6>
                    <a class="text-decoration-none" href="{{ url_for('user.index', username=person.username) }}">{{ person.username }}</a>
                </h6>
            {% endfor %}
        {% else %}
            <div class="tip">
                <h3>No followers.</h3>
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% if pagination.total > 1 %}
    <div class="page-footer">
        {{ render_pagination(pagination) }}
    </div>
{% endif %}
{% endblock %}
