{% from 'bootstrap5/pagination.html' import render_pagination %}

{% block content %}
{% include 'user1.html' %}

<!-- Navigation Tabs -->
<div class="row mt-4">
    <div class="col-12">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link " href="{{ url_for('user.user', username=user.username) }}">
                    Photos <span class="badge badge-light">{{ user.photos_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.check_collections', username=user.username) }}">
                    Collections <span class="badge badge-light">{{ user.collections_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.show_following', username=user.username) }}">
                    Following
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('user.show_follower', username=user.username) }}">
                    Followers
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <h5>{{ user.username }}'s Followers</h5>
        {% if follower %}
        {% for person in follower %}
        <div class="col-md-4">

            <div class="card-body_f">
                <img src="{{ url_for('static', filename='img/avatar/' ~ person.avatar) }}"
                    alt="{{ person.username }}'s Profile Image" class="img-fluid rounded-circle mb-2"
                    style="width: 50px; height: 50px;">
                <h5 class="creative-text1">{{ person.username }}</h5>
                <a href="{{ url_for('user.user', username=person.username) }}" class="btn-orange">View
                    Profile</a>
            </div>

        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                {{ user.username }} has no followers.
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="page-footer">
                {{ render_pagination(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}