{% extends 'gallery.html' %}
{% block content %}
<h2>Leave a Comment</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.comment_content.label }}
        {{ form.comment_content(rows=3) }} <!-- You can adjust the size of the textarea -->
        {% if form.comment_content.errors %}
        {% for error in form.comment_content.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock %}