<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home_draft</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="container mt-5">
        {% for detail in details %}
        <div class="card mb-3" style="cursor: pointer;" data-toggle="modal" data-target="#postModal"
            onclick="showPostDetails('{{ url_for('static', filename='img/' + detail.upload_item) }}', '{{ detail.upload.title }}', '{{ detail.description }}')">
            {% if detail.upload_item. endswith('.mp4') %}
            <video class="card-img-top" controls>
                <source src="{{ url_for('static', filename='img/' + detail.upload_item)}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% else %}
            <img src="{{ url_for('static', filename='img/' + detail.upload_item) }}" class="card-img-top"
                alt="{{ detail.upload.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ detail.upload_item }}</h5>
                <p class="card-text">{{ detail.description }}</p>
                <p>Likes: {{ detail.upload.favourites }}</p> <!-- Display number of likes for each upload -->
            </div>
        </div>
        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="postModalLabel">Post Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="modalImg" src="" class="card-img-top" alt="...">
                        <p id="modalDesc"></p>
                        <p><small class="text-muted" id="modalLikes"></small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="likePost(postId)">Like</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function showPostDetails(imgUrl, title, description) {
                console.log(imgUrl, title, description);
                $('#modalImg').attr('src', imgUrl);
                $('#postModalLabel').text(title);
                $('#modalDesc').text(description);
                $('#modalLikes').text('Likes: ' + likes);
                $('#postModal').modal('show');
            }
        </script>
</body>

</html>